#Ignore all
/*

#Except
!.gitignore
!README.md
!.gitconfig

#Bash / zshrc
!.bachrc
!.bash_profile
!.shortcuts.sh
!oh-my-zsh.sh
!.zshrc
!.tmux.conf

# Scripts
!scripts/

#Config
!.hammerspoon/init.lua
!.inputrc
!.spacemacs
!.mackup.cfg

